<div class="card card-body" style="width: 100%;">

  <div class="logo">
      <img class="logo" [src]="logoSrc" />
  </div>

  <h3 class="text-center">
      Welcome to<br />
      <b style="font-weight: 800;">Eufy Security Plugin</b>
  </h3>
  <h6 class="text-center">Homebridge plugin for Eufy Security Devices</h6>
  <hr />

  <div class="pluginContent" style="max-width: 720px !important">
    <router-outlet></router-outlet>
  </div>

  <hr />

    <div class="footer">We are not affiliated, associated, authorized, endorsed by, or in any way officially
        connected
        with Anker Innovations Technology Co.LTd, and Shenzhen Oceanwing Smart Innovations Technology Co., Ltd, and
        its
        affiliated companies within the Anker Group, or any of its subsidiaries or its affiliates.
    </div>
</div>