div.logo {
    text-align: center;
    margin: 0 0 5px 0;
}

img.logo {
    text-align: center;
    margin: 0 auto;
    max-width: 75%;
    height: auto;
    object-fit: cover;
}

.footer {
    font-size: small;
    color: #888;
}