<div class="settingsItem">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <label for="ignoreMultipleDevicesWarning">Enable snapshot and HKSV settings for multiple devices on one
      station</label>
      
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="ignoreMultipleDevicesWarning"
        id="ignoreMultipleDevicesWarning" (change)="update()">
    </div>
  </div>

  <small><i>
      Normally it is not encouraged to use live snapshots and the HKSV feature if multiple cameras are connected through
      one and the same station. These options are therefore disabled by default for these devices.
      By enabling this setting you'll be able to use these features anyway, but please be aware that this might result
      in failing streams.
    </i></small>
</div>