<div class="settingsItem">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <label for="enableDetailedLogging">Debug Mode</label>

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="enableDetailedLogging"
        id="enableDetailedLogging" (change)="update()">
    </div>

  </div>
  <small><i>
      This will output more information to the homebridge logs.
      This helps the plugin team to understand what's going on.
    </i></small>
</div>