<a routerLink="/accessories" class="btn btn-primary mb-3">
  <lucide-angular name="chevron-left"></lucide-angular> Back
</a>

<h6> Advanced Settings </h6>

<!-- Put config options components here -->
<app-edit-credentials></app-edit-credentials>
<hr />
<app-polling-interval-minutes></app-polling-interval-minutes>
<hr />
<app-livestream-duration-seconds></app-livestream-duration-seconds>
<hr />
<app-ignore-multiple-devices-warning></app-ignore-multiple-devices-warning>
<hr />
<app-auto-sync-station></app-auto-sync-station>
<hr />
<app-omit-log-files></app-omit-log-files>
<hr />
<app-clean-cache></app-clean-cache>
<hr />
<app-embedded-pkcs1-support></app-embedded-pkcs1-support>
<hr />
<app-guard-modes-mapping></app-guard-modes-mapping>