<ng-template #reloadModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Refresh stations and devices</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            To refresh all stations and devices you will be logged into your eufy account. This can interfere with the
            plugins connection to the eufy cloud.
            <p></p><b style="color: #dc3545">We strongly recommened that you restart the plugin after you're done with
                the configuration even if you didn't change any settings.</b>
            <p></p>
            Otherwise you might experience glitches like no longer working push notifications for the plugin (see <a
                href="https://github.com/homebridge-eufy-security/plugin/issues/59#issuecomment-1147314942"
                target="_blank" rel="noopener noreferrer">here</a> for more information).
        </div>
    </div>
    <div class="modal-footer">
        <a routerLink="/login" class="btn btn-success" (click)="modal.close('Login')">Login with eufy</a>
    </div>
</ng-template>

<div *ngIf="stations.length === 0" class="container">
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-success" (click)="openReloadModal(reloadModal)">
                <fa-icon [icon]="reloadIcon" size="lg"></fa-icon>
            </button>
        </div>
        <div class="col-6 text-end">
            <a routerLink="/advancedConfig" class="btn btn-secondary">Plugin Settings</a>
        </div>
    </div>

    <div class="row pl-5 pr-5">
        <div class="col" style="max-width: 20%;"></div>
        <div class="col d-flex justify-content-center">
            <div class="card shadow-sm text-center pt-3 pb-3" style="width: 100%;">
                <div class="mx-auto">
                    Loading Accessories...
                    <div class="progress" style="height: 8px;">
                        <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="max-width: 20%;"></div>
    </div>
</div>

<div *ngIf="stations.length !== 0" class="container">
    <div class="text-end">
        <button type="button" class="btn btn-success" (click)="openReloadModal(reloadModal)"
            (keydown.enter)="openReloadModal(reloadModal)" placement="top" ngbTooltip="Re Sync">
            <fa-icon [icon]="reloadIcon" size="lg"></fa-icon>
        </button>
        <button type="button" class="btn btn-warning" placement="top" ngbTooltip="Download Logs"
            routerLink="/downloadLogs">
            <fa-icon [icon]="downloadIcon" size="lg"></fa-icon>
        </button>
        <button type="button" class="btn btn-danger" placement="top" ngbTooltip="Global Settings"
            routerLink="/advancedConfig">
            <fa-icon [icon]="settingsIcon" size="lg"></fa-icon>
        </button>
    </div>

    <div *ngIf="versionUnmatched">
        <p></p>
        <ngb-alert type="warning" [dismissible]="false">
            <a (click)="openReloadModal(reloadModal)" (keydown.enter)="openReloadModal(reloadModal)" tabindex="0">Plugin
                has been updated, please refresh and reboot the plugin.</a>
        </ngb-alert>
        <p></p>
    </div>

    <div *ngIf="!versionUnmatched">

        <p></p>
        <span>Click the name to reveal the attached device(s) or access camera configuration.
            The shield icon allows you to configure alarm settings.</span>
        <p></p>

        <div ngbAccordion [closeOthers]="true">

            <div *ngFor="let station of stations" ngbAccordionItem="S_{{station.uniqueId}}">
                <div ngbAccordionHeader>

                    <button *ngIf="station.devices?.length !== 1" ngbAccordionButton class="row m-0">
                        <div class="col-8" [style.text-decoration]="station.ignored ? 'line-through' : 'none'">{{
                            station.displayName
                            }}</div>
                        <div class="col">
                            <span class="float-right">
                                <button type="button" class="btn text-muted my-0 mx-1" placement="top"
                                    ngbTooltip="Alarm configuration" routerLink="/stationConfig/{{station.uniqueId}}">
                                    <fa-icon [icon]="shieldIcon" size="lg"></fa-icon>
                                </button>
                            </span>
                        </div>
                    </button>

                    <div *ngIf="station.devices?.length === 1" ngbAccordionButton class="row m-0 accordion-button2"
                        routerLink="/cameraConfig/{{station.uniqueId}}">
                        <div class="col-8"
                            [style.text-decoration]="station.devices && station.devices[0].ignored ? 'line-through' : 'none'">
                            {{ station.displayName }}</div>
                        <div class="col">
                            <span class="float-right">
                                <button type="button" class="btn text-muted my-0 mx-1" placement="top"
                                    ngbTooltip="Alarm configuration" routerLink="/stationConfig/{{station.uniqueId}}">
                                    <fa-icon [icon]="shieldIcon" size="lg"></fa-icon>
                                </button>
                            </span>
                        </div>
                    </div>

                </div>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody *ngIf="station && (station.devices ?? []).length >= 2">
                        <ng-template>

                            <div class="row">

                                <div *ngFor="let device of station.devices"
                                    class="col-6 col-sm-4 mt-3 mb-3 d-flex flex-column align-items-center">

                                    <div class="col-12 col-sm-7">
                                        <div class="text-center">
                                            <a routerLink="/cameraConfig/{{device.uniqueId}}" style="color: black;">
                                                <div class="device ratio ratio-1x1 border rounded shadow-sm">
                                                    <img class="deviceimage"
                                                        [src]="'assets/devices/' + (DeviceImage.get(device.type) ? DeviceImage.get(device.type)?.image : 'unknown.png')"
                                                        style="padding:20px"
                                                        [style.opacity]="device.ignored === true ? 0.5 : 1"
                                                        alt="{{ device.displayName }}">
                                                    <span
                                                        class="devicesettingsicon d-flex border align-items-center justify-content-center"
                                                        style="z-index: 15;">
                                                        <fa-icon [icon]="settingsIcon" size="2x"></fa-icon>
                                                    </span>
                                                    <span *ngIf="device.ignored"
                                                        class="d-flex border align-items-top justify-content-end"
                                                        style="z-index: 20;">
                                                        <fa-icon [icon]="ignoreIcon" class="mt-sm-1 m-sm-2 m-1 mt-0"
                                                            size="xs"></fa-icon>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <span class="col-12 text-center">{{ device.displayName }}</span>
                                    <span class="col-12 serial fw-light text-center">({{device.type}} -
                                        {{device.uniqueId}})</span>

                                </div>

                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>

        </div>

        <p></p>

        <span><i>The images used above are 'best effort' for now, since we do not own every eufy device.
                If you experience that your device is depicted with a wrong image please feel free to let
                us know in an issue on our <a href="https://github.com/homebridge-eufy-security/plugin" target="_blank"
                    rel="noopener noreferrer">Github page.</a></i>
        </span>

    </div>

</div>