.device:hover {
    transform:scale(1.05);
    border-color: #ffc107 !important;
    color: #ffc107;
}

.device {
    background-color: #fff !important;
    color: black !important;
}

.device:hover .deviceimage {
    opacity: 0.5;
}

.device .devicesettingsicon {
    display: none !important;
}

.device:hover .devicesettingsicon {
    display: flex !important;
    color: #ffa000 !important;
}

.serial {
    font-size: 12px;
}