.device:hover {
    transform:scale(1.05);
    border-color: #ffc107 !important;
    color: #ffc107;
}

.config-ui-x-dark-mode .device {
    background-color: #fff !important;
    color: black !important;
  }

.serial {
    font-size: 12px;
}