.device:hover {
  transform: scale(1.05);
  border-color: #ffc107 !important;
  color: #ffc107;
}

.device {
  background-color: #fff !important;
  color: black !important;
}

.device:hover .deviceimage {
  opacity: 0.5;
}

.deviceimage {
  padding: 5px;
}

.device .devicesettingsicon {
  display: none !important;
}

.device:hover .devicesettingsicon {
  display: flex !important;
  color: #ffa000 !important;
}

.icon {
  color: #0b6288;
  margin: 2px;
}

.serial {
  font-size: 12px;
}

h5.card-title {
  text-shadow: 0 0 5px white, 0 0 5px white,
    0 0 5px white, 0 0 5px white,
    0 0 5px white, 0 0 5px white,
    0 0 5px white, 0 0 5px white;
}

.my-custom-header::after {
  content: none;
}