<div class="settingsItem row p-3">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <span>Unbridge Camera</span>
    
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="value" id="flexSwitchCheckDefault" (change)="update()">
    </div>

  </div>
  <small><i>
    Bridged cameras can cause slowdowns of the entire Homebridge instance.
    If unbridged, the camera will need to be added to HomeKit manually.
    See <a href="https://github.com/homebridge-eufy-security/plugin/wiki/Bridged-and-Unbridged-Mode-and-Problems" target="_blank" rel="noopener noreferrer">here</a> for mor details.
  </i></small>
</div>