<a routerLink="/accessories" class="btn btn-secondary mb-3">
  <i-feather name="chevron-left"></i-feather> Back
</a>

<ng-container [ngSwitch]="type">
  <ng-template [ngSwitchCase]="'device'">
    <ng-template [ngIf]="device">
      <p>{{device.displayName}} - <span class="serial">({{device.type}} - {{device.typename}})</span></p>
    </ng-template>
  </ng-template>
  <ng-template [ngSwitchDefault]>
    <ng-template [ngIf]="station">
      <p>{{station.displayName}} - <span class="serial">({{station.type}} - {{station.typename}})</span></p>
    </ng-template>
  </ng-template>
</ng-container>

<ng-template [ngIf]="device">

  <div class="d-flex justify-content-between align-items-center mb-2">
    <span>Enable Device on Apple Homekit</span>
    <app-ignore-accessory [accessory]="device" [station]="false"
      (ignored)="ignoredDeviceChanged($event)"></app-ignore-accessory>
  </div>

  <div ngbAccordion [closeOthers]="true">

    <div ngbAccordionItem *ngIf="!device.ignored && isCamera">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Device Settings</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div>
              <app-enable-camera [device]="device"></app-enable-camera>
              <hr *ngIf="supportsRTSP" />
              <app-rtsp-streaming [device]="device" *ngIf="supportsRTSP"></app-rtsp-streaming>
              <hr />
              <app-enable-audio [device]="device"></app-enable-audio>
              <hr *ngIf="supportsTalkback" />
              <app-talkback [device]="device" *ngIf="supportsTalkback"></app-talkback>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem *ngIf="!device.ignored && isCamera">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>HomeKit Behaviour</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <app-camera-buttons [device]="device"></app-camera-buttons>
            <hr />
            <app-enable-hsv [device]="device"></app-enable-hsv>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem *ngIf="!device.ignored && isCamera">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Snapshot Behaviour</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>

            <!-- Put config options components here -->
            <app-snapshot-handling-method [device]="device"></app-snapshot-handling-method>
            <hr *ngIf="isDoorbell" />
            <app-immediate-notification-on-ring [device]="device"
              *ngIf="isDoorbell"></app-immediate-notification-on-ring>
            <hr />
            <app-delay-camera-snapshots [device]="device"></app-delay-camera-snapshots>
            <hr />
            <app-periodic-snapshot-refresh [device]="device"></app-periodic-snapshot-refresh>

            <div *ngIf="!showEnhancedSnapshotBehaviour">
              <app-force-refreshsnap [device]="device"></app-force-refreshsnap>
            </div>

          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem *ngIf="!device.ignored && isCamera">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Advanced Video Config</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <app-advanced-videoconfig [device]="device"></app-advanced-videoconfig>
          </ng-template>
        </div>
      </div>
    </div>

  </div>

</ng-template>

<p></p>

<ng-template [ngIf]="station && !station.disabled">

  <div class="d-flex justify-content-between align-items-center mb-2">
    <span>Enable Device Security Control on Apple Homekit</span>
    <app-ignore-accessory [accessory]="station" [station]="true"
      (ignored)="ignoredStationChanged($event)"></app-ignore-accessory>
  </div>

  <ng-template [ngIf]="!station.ignored">

    <div ngbAccordion [closeOthers]="true">

      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Customize HomeKit-Eufy App Mode Mapping</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <app-guard-modes-mapping [station]="station"></app-guard-modes-mapping>
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Manual Alarm Trigger Modes</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <app-manual-alarm-modes [station]="station"></app-manual-alarm-modes>
            </ng-template>
          </div>
        </div>
      </div>

    </div>

  </ng-template>

</ng-template>