<a routerLink="/accessories" class="btn btn-primary mb-3">
  <lucide-angular name="chevron-left"></lucide-angular> Back
</a>

<ng-container [ngSwitch]="type">
  <ng-template [ngSwitchCase]="'device'">
    <ng-template [ngIf]="device">
      <p>{{device.displayName}} - <span class="serial">({{device.type}} - {{device.typename}} -
          {{device.uniqueId}})</span></p>
    </ng-template>
  </ng-template>
  <ng-template [ngSwitchDefault]>
    <ng-template [ngIf]="station">
      <p>{{station.displayName}} - <span class="serial">({{station.type}} - {{station.typename}} -
          {{station.uniqueId}})</span></p>
    </ng-template>
  </ng-template>
</ng-container>

<ng-template [ngIf]="device">

  <div *ngIf="!device.isKeypad" class="d-flex justify-content-between align-items-center mt-2 mb-2">
    <label for="ignoreDevice">Enable Device on Apple Homekit</label>
    <app-ignore-accessory [accessory]="device" [isDisabled]="device.isKeypad"
      (ignored)="ignoredDeviceChanged($event)"></app-ignore-accessory>
  </div>

  <p *ngIf="device.isKeypad">
    We've noticed a keypad in your setup. Please be aware that the keypad won't have any function with our plugin. The
    alarm triggering is already managed by the station's security mode, rendering the keypad useless.
  </p>

  <p *ngIf="device.isKeypad">
    When the keypad is connected to the homebase, it generates an Off mode. Exercise caution when altering the security
    mode, as this process should occur automatically. If you encounter any issues, ensure to remove any configurations
    associated with eufy modes mapping.
  </p>

  <ng-template [ngIf]="!device.ignored && isCamera">

    <div ngbAccordion [closeOthers]="true">

      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Device Settings</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <app-enable-camera [device]="device" (checkDeviceConfig)="checkDeviceConfig()"></app-enable-camera>
              <div *ngIf="enableCamera && supportsRTSP ">
                <hr />
                <app-rtsp-streaming [device]="device"></app-rtsp-streaming>
              </div>
              <div *ngIf="enableCamera">
                <hr />
                <app-enable-audio [device]="device"></app-enable-audio>
              </div>
              <div *ngIf="enableCamera && supportsTalkback">
                <hr />
                <app-talkback [device]="device"></app-talkback>
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>HomeKit Behaviour</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <app-camera-buttons [device]="device"></app-camera-buttons>
              <div *ngIf="enableCamera">
                <hr />
                <app-enable-hsv [device]="device"></app-enable-hsv>
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem *ngIf="enableCamera">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Snapshot Behaviour</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <app-snapshot-handling-method [device]="device"></app-snapshot-handling-method>
              <div *ngIf="isDoorbell">
                <hr />
                <app-immediate-notification-on-ring [device]="device"></app-immediate-notification-on-ring>
              </div>
              <hr />
              <app-delay-camera-snapshots [device]="device"></app-delay-camera-snapshots>
              <hr />
              <app-periodic-snapshot-refresh [device]="device"></app-periodic-snapshot-refresh>
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem *ngIf="enableCamera">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Advanced Video Config</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <app-advanced-videoconfig [device]="device"></app-advanced-videoconfig>
            </ng-template>
          </div>
        </div>
      </div>

    </div>

  </ng-template>

</ng-template>

<ng-template [ngIf]="station && !station.disabled">

  <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
    <label for="ignoreStation">Enable Device Security Control on Apple Homekit</label>
    <app-ignore-accessory [accessory]="station" [isStation]="true"
      (ignored)="ignoredStationChanged($event)"></app-ignore-accessory>
  </div>

  <div ngbAccordion *ngIf="!station.ignored" [closeOthers]="true">

    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Customize HomeKit-Eufy App Mode Mapping</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <app-guard-modes-mapping [station]="station"></app-guard-modes-mapping>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Manual Alarm Trigger Modes</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <app-manual-alarm-modes [station]="station"></app-manual-alarm-modes>
          </ng-template>
        </div>
      </div>
    </div>

  </div>

</ng-template>