<a routerLink="/accessories" class="btn btn-secondary mb-3">
  <lucide-angular name="chevron-left"></lucide-angular> Back
</a>

<div *ngIf="isCollapsed">

  <p>To troubleshoot effectively before rising your issue to us:</p>
  <ol>
    <li>Search Existing Issues: Check Common Issues and User-Raised Issues on Github.</li>
    <li>Join Discord Server: Engage with developers and community on Discord.</li>
    <li>Enable debug logging</li>
    <li>Reboot your system</li>
    <li>Reproduce the issue</li>
  </ol>
  <p>Resetting the system may also help.</p>
  <p>Remember to disable debug logging after troubleshooting.</p>

  <div class="text-center">
    <button type="button" class="btn btn-outline-primary " (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed">
      I do understand
    </button>
  </div>

</div>

<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <app-enable-detailed-logging />
  <hr />
  <app-download-logs />
  <hr />
  <app-reset-plugin />
</div>