<a routerLink="/accessories" class="btn btn-secondary mb-3">Back to Devices List</a>
<div class="card" *ngIf="accessory">
  <div class="card-header">
      <b>Camera Settings</b> for <i>{{accessory.displayName}} ({{accessory.uniqueId}})</i>
  </div>
  <div class="card-body pt-0 pb-4">
    
    <!-- Put config options components here -->
    <app-ignore-accessory [accessory]="accessory"></app-ignore-accessory>
    <div *ngIf="isCamera">
      <hr />
      <app-enable-camera [accessory]="accessory"></app-enable-camera>
      <hr />
      <app-livestream-cache [accessory]="accessory"></app-livestream-cache>
      <hr *ngIf="supportsRTSP" />
      <app-rtsp-streaming [accessory]="accessory" *ngIf="supportsRTSP"></app-rtsp-streaming>
      <hr />
      <app-enable-audio [accessory]="accessory"></app-enable-audio>
      <hr *ngIf="supportsTalkback" />
      <app-talkback [accessory]="accessory" *ngIf="supportsTalkback"></app-talkback>
    </div>
  </div>
</div>

<div *ngIf="isCamera">
  <p></p>

  <div class="card" *ngIf="accessory">
    <div class="card-header">
        <b>HomeKit Behaviour</b> for <i>{{accessory.displayName}} ({{accessory.uniqueId}})</i>
    </div>
    <div class="card-body pt-0 pb-4">
      
      <!-- Put config options components here -->
      <app-camera-buttons [accessory]="accessory"></app-camera-buttons>
      
    </div>
  </div>

  <p></p>

  <div class="card" *ngIf="accessory">
    <div class="card-header">
        <b>Snapshot Behaviour</b> for <i>{{accessory.displayName}} ({{accessory.uniqueId}})</i>
    </div>
    <div class="card-body pt-0 pb-4">
      
      <!-- Put config options components here -->
      <app-snapshot-handling-method [accessory]="accessory"></app-snapshot-handling-method>
      <hr *ngIf="isDoorbell" />
      <app-immediate-notification-on-ring [accessory]="accessory" *ngIf="isDoorbell"></app-immediate-notification-on-ring>
      <hr />
      <app-delay-camera-snapshots [accessory]="accessory"></app-delay-camera-snapshots>
      <hr />
      <app-periodic-snapshot-refresh [accessory]="accessory"></app-periodic-snapshot-refresh>

      <div *ngIf="!showEnhancedSnapshotBehaviour">
        <app-force-refreshsnap [accessory]="accessory"></app-force-refreshsnap>
      </div>
      
    </div>
  </div>

  <p></p>

  <app-advanced-videoconfig [accessory]="accessory"></app-advanced-videoconfig>
</div>