<a routerLink="/accessories" class="btn btn-secondary mb-3">Back to Devices List</a>
<div *ngIf="device">
  <p><i>{{device.displayName}} ({{device.uniqueId}}) ({{device.typename}})</i></p>

  <div ngbAccordion [closeOthers]="true">

    <div ngbAccordionItem [collapsed]="false">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Device Settings</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>

            <!-- Put config options components here -->
            <app-ignore-accessory [accessory]="device" [station]="false"></app-ignore-accessory>
            <div *ngIf="isCamera">
              <hr />
              <app-enable-camera [device]="device"></app-enable-camera>
              <hr *ngIf="supportsRTSP" />
              <app-rtsp-streaming [device]="device" *ngIf="supportsRTSP"></app-rtsp-streaming>
              <hr />
              <app-enable-audio [device]="device"></app-enable-audio>
              <hr *ngIf="supportsTalkback" />
              <app-talkback [device]="device" *ngIf="supportsTalkback"></app-talkback>
            </div>
          </ng-template>
        </div>
      </div>
    </div>


    <div *ngIf="isCamera" ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>HomeKit Behaviour</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>


            <!-- Put config options components here -->
            <app-camera-buttons [device]="device"></app-camera-buttons>
            <hr />
            <app-enable-hsv [device]="device"></app-enable-hsv>

          </ng-template>
        </div>
      </div>
    </div>

    <div *ngIf="isCamera" ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Snapshot Behaviour</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>

            <!-- Put config options components here -->
            <app-snapshot-handling-method [device]="device"></app-snapshot-handling-method>
            <hr *ngIf="isDoorbell" />
            <app-immediate-notification-on-ring [device]="device"
              *ngIf="isDoorbell"></app-immediate-notification-on-ring>
            <hr />
            <app-delay-camera-snapshots [device]="device"></app-delay-camera-snapshots>
            <hr />
            <app-periodic-snapshot-refresh [device]="device"></app-periodic-snapshot-refresh>

            <div *ngIf="!showEnhancedSnapshotBehaviour">
              <app-force-refreshsnap [device]="device"></app-force-refreshsnap>
            </div>

          </ng-template>
        </div>
      </div>
    </div>

    <div *ngIf="isCamera" ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Advanced Video Config</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <app-advanced-videoconfig [device]="device"></app-advanced-videoconfig>
          </ng-template>
        </div>
      </div>
    </div>

  </div>

</div>