.hidden {
    display: none;
}

.divTable {
    display: table;
    table-layout: fixed;
    max-width: none;
    width: auto;
    min-width: 100%;
}

.divTableRow {
    display: table-row;
}

.checked {
    color: #888;
    text-decoration: line-through;
    font-style: italic;
}

div.logo {
    text-align: center;
    margin: 0 0 5px 0;
}

img.logo {
    text-align: center;
    margin: 0 auto;
    max-width: 75%;
    height: auto;
    object-fit: cover;
}

.footer {
    font-size: small;
    color: #888;
}

.text-center {
    text-align: center !important;
}

/* 
    .checked div.divTableRow input[type="checkbox"] {
        display: none;
    }

    .checked div.divTableRow:first-child input[type="checkbox"] {
        display: block;
    } */

.divTableHeading {
    background-color: #0b6288;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    border: 0.05rem solid #eee;
    display: table-cell;
    padding: 0.25rem;
}

.divTableHeading {
    background-color: #0b6288;
    display: table-header-group;
    color: #fff;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}