<div class="settingsItem">
  <div class="alert alert-danger" role="alert" *ngIf="failed">
    {{ failureMessage }}
  </div>
  <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mb-2">
    <span class="mb-3 mb-sm-0">Download Logs</span>

    <button type="button" *ngIf="!hasDownloaded" class="btn btn-primary col-12 col-sm-4" (click)="downloadLogs()"
      [attr.disabled]="isDownloading ? true : null">
      <span *ngIf="!isDownloading">Download Logs</span>
      <span *ngIf="isDownloading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="isDownloading"> Generating Log File...</span>
    </button>

    <button type="button" *ngIf="hasDownloaded" class="btn btn-success col-12 col-sm-4" (click)="openLink()">
      <span>Download Logs</span>
    </button>

  </div>

  <ngb-progressbar class="mb-3" type="success" [value]="progress" [animated]="true" [striped]="true"
    *ngIf="!hasDownloaded && isDownloading">{{ status }}</ngb-progressbar>

  <p>
    <small *ngIf="hasDownloaded"><i>
        <b>Please make sure that you have pop-ups allowed for this site. If you're not sure, maybe this <a
            href="https://www.howtogeek.com/773082/how-to-disable-pop-up-blocker-in-chrome-firefox-edge-safari/"
            target="_blank" rel="noopener noreferrer">site</a> can help.</b>
      </i></small>
  </p>
</div>