<div class="settingsItem row p-3">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <span>Use HomeKit Secure Video</span>
    
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="value" id="flexSwitchCheckDefault" [attr.disabled]="camerasOnSameStation.length > 1 ? true : null" (change)="update()">
    </div>

  </div>

  <div class="alert alert-warning" role="alert" *ngIf="camerasOnSameStation.length > 1">
    There are other cameras connected through the same station as this device. One station can only ever stream from one camera at the same time.
    Therefore it is not possible to use HomeKit Secure Video with this camera since this would lead to conflicts.<p></p>
    Cameras on the same station:
    <ul>
      <li *ngFor="let sn of camerasOnSameStation">{{ sn }}</li>
    </ul>
  </div>

  <div class="alert alert-warning" role="alert" *ngIf="chargingStatus === 2 && value">
    Since your device is battery powered and currently not charging we don't recommend using this setting. The battery life will most likely decrease significantly.
  </div>

  <div class="alert alert-secondary" role="alert" *ngIf="chargingStatus === 4 && value">
    Please be advised that since your device is only solar powered we cannot guarantee optimal results with this setting. It might well be, that your battery is depleting faster than it can be recharged by the sun. This depends heavily on your exact use case.
  </div>

  <small><i>
    This feature is in an experimental state and can have some side-effects due to technical limitations imposed by the connection to the eufy device.
    <p></p>
    <ul>
      <li>The device will record until the HomeKit-Controller cancels the recording, or up to a maximum of three minutes. However Apple analyzes the recorded video and only shows the snippets containing an actual event.</li>
      <li>Due to the continued recording the power consumption will be higher than with the native recording through the eufy app. Keep this in mind, if you use battery powered devices.</li>
      <li>If you use low performance hardware the recording might interfere with livestreaming. You might be able to utilize the 'copy' preset in advanced configuration to mitigate this.</li>
    </ul>
  </i></small>

  <div *ngIf="value">

    <button type="button" class="btn btn-secondary mb-3" (click)="showAdvancedSettings = ! showAdvancedSettings">{{ showAdvancedSettings ? 'Hide' : 'Show' }} advanced HKSV settings</button>

    <div #collapse="ngbCollapse" [(ngbCollapse)]="!showAdvancedSettings">

      <div class="mb-3">HomeKit Secure Video is processed on Apples dedicated Servers (object and face recognition). This service
      is somewhat picky about the encoded video data it accepts. If you encounter problems with HKSV but normal
      streaming is doing fine, you can try to alter these settings.
      </div>

      <div class="card mb-3">
        <div class="card-header">
          Video Settings
        </div>
        <ul class="list-group list-group-flush">

          <li class="list-group-item">
            <label for="vcodecInput" class="form-label">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="vcodec" [checked]="vcodec !== undefined ? true: null" (change)="vcodec = (vcodec === undefined) ? '' : undefined; update();">
                <label class="form-check-label" for="vcodec">
                  vcodec
                  <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="Choose which video codec should be used to encode the video stream for HomeKit."></fa-icon>
                </label>
              </div>
            </label>
            <input type="text" id="vcodecInput" [(ngModel)]="vcodec" placeholder="libx264" class="form-control" [attr.disabled]="(vcodec === undefined) ? true : null" (change)="update()">
          </li>

          <li class="list-group-item">
            <label for="filterInput" class="form-label">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="videoFilter" [attr.disabled]="vcodec === 'copy' ? true : null" [checked]="videoFilter !== undefined ? true: null" (change)="videoFilter = (videoFilter === undefined) ? '' : undefined; update();">
                <label class="form-check-label" for="videoFilter" [attr.style]="vcodec === 'copy' ? 'text-decoration: line-through; color: lightgray;' : null">
                  videoFilter
                  <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="Set custom filters for video encoding."></fa-icon>
                </label>
              </div>
            </label>
            <input type="text" id="filterInput" [(ngModel)]="videoFilter" placeholder="leave blank if you don't know" class="form-control" [attr.disabled]="(videoFilter === undefined || vcodec === 'copy') ? true : null" (change)="update()">
          </li>

          <li class="list-group-item">
            <label for="encoderOptionsInput" class="form-label">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="encoderOptions" [attr.disabled]="vcodec === 'copy' ? true : null" [checked]="encoderOptions !== undefined ? true: null" (change)="encoderOptions = (encoderOptions === undefined) ? '' : undefined; update();">
                <label class="form-check-label" for="encoderOptions" [attr.style]="vcodec === 'copy' ? 'text-decoration: line-through; color: lightgray;' : null">
                  encoderOptions
                  <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="Set custom codec options for video encoding."></fa-icon>
                </label>
              </div>
            </label>
            <input type="text" id="encoderOptionsInput" [(ngModel)]="encoderOptions" [attr.placeholder]="encoderOptions !== undefined ? '' : vcodecOptionsPlaceholder" class="form-control" [attr.disabled]="(encoderOptions === undefined || vcodec === 'copy') ? true : null" (change)="update()">
          </li>

          <!-- <li class="list-group-item">
            <div class="row">
              <div class="col-sm-5 col-12 mb-2 mb-sm-0">
                <label for="maxWidthInput" class="form-label">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="maxWidth" [attr.disabled]="vcodec === 'copy' ? true : null" [checked]="maxWidth !== undefined ? true: null" (change)="maxWidth = (maxWidth === undefined) ? 0 : undefined; update();">
                    <label class="form-check-label" for="maxWidth" [attr.style]="vcodec === 'copy' ? 'text-decoration: line-through; color: lightgray;' : null">
                      maxWidth
                      <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="Maximum width for encoded video stream. Lower Values might improve performance."></fa-icon>
                    </label>
                  </div>
                </label>
                <input type="number" id="maxWidthInput" [(ngModel)]="maxWidth" placeholder="0" class="form-control" [attr.disabled]="(maxWidth === undefined || vcodec === 'copy') ? true : null" (change)="update()">
              </div>

              <span class="col-2 d-none d-sm-flex justify-content-center align-items-end">x</span>

              <div class="col-sm-5 col-12">
                <label for="maxHeightInput" class="form-label">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="maxHeight" [attr.disabled]="vcodec === 'copy' ? true : null" [checked]="maxHeight !== undefined ? true: null" (change)="maxHeight = (maxHeight === undefined) ? 0 : undefined; update();">
                    <label class="form-check-label" for="maxHeight" [attr.style]="vcodec === 'copy' ? 'text-decoration: line-through; color: lightgray;' : null">
                      maxHeight
                      <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="Maximum height for encoded video stream. Lower Values might improve performance."></fa-icon>
                    </label>
                  </div>
                </label>
                <input type="number" id="maxHeightInput" [(ngModel)]="maxHeight" placeholder="0" class="form-control" [attr.disabled]="(maxHeight === undefined || vcodec === 'copy') ? true : null" (change)="update()">
              </div>
            </div>
          </li> -->

          <!-- <li class="list-group-item">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="crop" [attr.disabled]="vcodec === 'copy' ? true : null" [(ngModel)]="crop" (change)="update()">
              <label class="form-check-label" for="crop" [attr.style]="vcodec === 'copy' ? 'text-decoration: line-through; color: lightgray;' : null">
                force crop image to requested/defined resolution
                <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="The input might be in another aspect ratio than requested by HomeKit (e.g. Doorbells may stream 1600x1200 -> 4:3 while HomeKit requests 1920x1080 -> 16:9). This setting will ensure that the requested aspect ratio is hit by cropping the image accordingly."></fa-icon>
              </label>
            </div>
          </li> -->

          <li class="list-group-item">
            <label for="maxFPSInput" class="form-label">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="maxFPS" [attr.disabled]="vcodec === 'copy' ? true : null" [checked]="maxFPS !== undefined ? true: null" (change)="maxFPS = (maxFPS === undefined) ? 0 : undefined; update();">
                <label class="form-check-label" for="maxFPS" [attr.style]="vcodec === 'copy' ? 'text-decoration: line-through; color: lightgray;' : null">
                  fps
                  <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="Frames per second for the encoded video. If not set the value requested by the HomeKit Controller will be used."></fa-icon>
                </label>
              </div>
            </label>
            <input type="number" id="maxFPSInput" [(ngModel)]="maxFPS" placeholder="0" class="form-control" [attr.disabled]="(maxFPS === undefined || vcodec === 'copy') ? true : null" (change)="update()">
          </li>

          <li class="list-group-item">
            <label for="mmaxBitrateInput" class="form-label">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="maxBitrate" [attr.disabled]="vcodec === 'copy' ? true : null" [checked]="maxBitrate !== undefined ? true : null" (change)="maxBitrate = (maxBitrate === undefined) ? 0 : undefined; update();">
                <label class="form-check-label" for="maxBitrate" [attr.style]="vcodec === 'copy' ? 'text-decoration: line-through; color: lightgray;' : null">
                  bitrate
                  <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="Bitrate used for the encoded video. If not set the value requested by the HomeKit Controller will be used."></fa-icon>
                </label>
              </div>
            </label>
            <input type="number" id="maxBitrateInput" [(ngModel)]="maxBitrate" placeholder="0" class="form-control" [attr.disabled]="(maxBitrate === undefined || vcodec === 'copy') ? true : null" (change)="update()">
          </li>

        </ul>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          Audio Settings
        </div>
        <ul class="list-group list-group-flush">

          <li class="list-group-item">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="hsvAudio" [(ngModel)]="audio" (change)="update()">
              <label class="form-check-label" for="hsvAudio">
                Enable Audio
                <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="Enable audio in HKSV recordings."></fa-icon>
              </label>
            </div>
          </li>

          <!-- <li class="list-group-item">
            <label for="acodecHKInput" class="form-label">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="acodecHK" [checked]="acodecHK !== undefined ? true: null" (change)="acodecHK = (acodecHK === undefined) ? 'AAC-eld' : undefined; update();">
                <label class="form-check-label" for="acodecHK">
                  Audio Codec that will be requested by HomeKit.
                  <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="Set the audio codec that will be requested by the HomeKit controller. The actual used codec will be determined by the plugin based by the request and the next setting for forced codec."></fa-icon>
                </label>
              </div>
            </label>
            <select class="form-select" id="acodecHKInput" [(ngModel)]="acodecHK" aria-label="acodecHK" [attr.disabled]="acodecHK === undefined ? true : null" (change)="update()">
              <option [ngValue]="'AAC-eld'">AAC-eld</option>
              <option [ngValue]="'OPUS'">OPUS</option>
            </select>
          </li>

          <li class="list-group-item">
            <label for="acodecInput" class="form-label">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="acodec" [checked]="acodec !== undefined ? true: null" (change)="acodec = (acodec === undefined) ? '' : undefined; update();">
                <label class="form-check-label" for="acodec">
                  Forced audio codec
                  <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="Choose which audio codec should be used to encode the audio stream for HomeKit. This may overwrite the previous setting, but be aware that audio streaming will fail if these settings differ."></fa-icon>
                </label>
              </div>
            </label>
            <input type="text" id="acodecInput" [(ngModel)]="acodec" [attr.placeholder]="acodecPlaceholder" class="form-control" [attr.disabled]="(acodec === undefined) ? true : null" (change)="update()">
          </li>

          <li class="list-group-item">
            <label for="acodecOptionsInput" class="form-label">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="acodecOptions" [checked]="acodecOptions !== undefined ? true: null" (change)="acodecOptions = (acodecOptions === undefined) ? '' : undefined; update();">
                <label class="form-check-label" for="acodecOptions">
                  Audio Codec encoding options
                  <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="Set custom codec options for audio encoding."></fa-icon>
                </label>
              </div>
            </label>
            <input type="text" id="acodecOptionsInput" [(ngModel)]="acodecOptions" [attr.placeholder]="acodecOptions !== undefined ? '' : acodecOptionsPlaceholder" class="form-control" [attr.disabled]="(acodecOptions === undefined) ? true : null" (change)="update()">
          </li>

          <li class="list-group-item">
            <label for="samplerateInput" class="form-label">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="samplerate" [checked]="audioSampleRate !== undefined ? true: null" (change)="audioSampleRate = (audioSampleRate === undefined) ? 16 : undefined; update();">
                <label class="form-check-label" for="samplerate">
                  samplerate
                  <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="Set the samplerate that the encoded audio should have. The HomeKit Controller might request another samplerate, which then will be used instead."></fa-icon>
                </label>
              </div>
            </label>
            <select class="form-select" id="samplerateInput" [(ngModel)]="audioSampleRate" aria-label="Samplerate" [attr.disabled]="audioSampleRate === undefined ? true : null" (change)="update()">
              <option [ngValue]=8>8 kHz</option>
              <option [ngValue]=16>16 kHz</option>
              <option [ngValue]=24>24 kHz</option>
            </select>
          </li>

          <li class="list-group-item">
            <label for="aBitrateInput" class="form-label">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="aBitrate" [checked]="audioBitrate !== undefined ? true: null" (change)="audioBitrate = (audioBitrate === undefined) ? 24 : undefined; update();">
                <label class="form-check-label" for="aBitrate">
                  audio bitrate
                  <fa-icon [icon]="faQuestionCircle" class="m-1" ngbTooltip="Set the bitrate for encoded audio. Caution: if set to high the audio stream will be discarded by the HomeKit Controller."></fa-icon>
                </label>
              </div>
            </label>
            <input type="number" id="aBitrateInput" [(ngModel)]="audioBitrate" placeholder="24" class="form-control" [attr.disabled]="(audioBitrate === undefined) ? true : null" (change)="update()">
          </li> -->

        </ul>
      </div>

    </div>
        

  </div>
</div>