<a routerLink="/accessories" class="btn btn-secondary mb-3">Back to Devices List</a>

<!-- Put config options components here -->
<app-ignore-accessory [accessory]="station" [station]="true" (ignored)="ignoredChanged($event)"></app-ignore-accessory>
<p></p>

<div class="card" *ngIf="station && !station.ignored">
  <div class="card-header">
    <b>Station Settings</b> for <i>{{station.displayName}} ({{station.uniqueId}})</i>
  </div>

  <div class="card-body pt-0 pb-4">
    <app-guard-modes-mapping [station]="station"></app-guard-modes-mapping>
    <hr />
    <app-manual-alarm-modes [station]="station"></app-manual-alarm-modes>
  </div>
</div>